@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IDialogService DialogService

@using SimRacingManager.Components.Dialogs
@using SimRacingManager.Core
@using SimRacingManager.Data
@using SimRacingManager.Miscellaneous

@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" @ref="_mudThemeProvider" />
<MudPopoverProvider />

<MudDialogProvider FullWidth="true" CloseOnEscapeKey="true" Position="DialogPosition.Center" /> @* Needed for dialogs *@
<MudSnackbarProvider /> @* Needed for snackbars *@

@* TODO: Need to fix all warnings during a build *@

<MudLayout> 
    <MudAppBar>
        <MudBadge Content="CurrentVersion" Overlap="true" Class="mx-6 my-4">
            <MudButton Href="/" Variant="Variant.Text" >
                 <MudText Typo="Typo.h5">Sim Racing Manager</MudText>
            </MudButton>
        </MudBadge>
        <MudSpacer/>
        <MudTooltip Text="Laps Calculator" Arrow="true" Placement="Placement.Bottom">
            <MudIconButton Color="@Color.Inherit" Icon="@Icons.Material.Filled.Calculate" @onclick="OpenDialogAsync" />
        </MudTooltip>
        <MudTooltip Text="@selectedTooltip" Arrow="true" Placement="Placement.Bottom">
            <MudIconButton Color="@Color.Inherit" Icon="@selectedIcon" OnClick="@((e) => ToggleDarkMode(true))" />
        </MudTooltip>
        <MudText Align="Align.End">@_currentDate.ToShortDateString()</MudText>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pt-8">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private readonly DateTime _currentDate = DateTime.Today;
    private const string CurrentVersion = "PRE-ALPHA";
    private MudThemeProvider? _mudThemeProvider;

    private string selectedIcon;
    private string selectedTooltip;
    
    private bool _isDarkMode;
    private int _toggleAmount;
    
    protected override void OnInitialized()
    {
        // Everything within this conditional shouldn't be called more than once.
        if (!Globals.HasDatabaseManagerBeenInitialised)
        {
            // If the .env file cannot be found, don't bother making a connection to the database.
            if (DotEnv.SearchForEnvironmentFiles())
            {
                DatabaseManager.Initialise();
                DatabaseManager.FetchAllData();
            }
        }
        Globals.HasDatabaseManagerBeenInitialised = true;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var contains = await LocalStorage.ContainKeyAsync("toggleAmount");
            if (!contains)
            {
                _toggleAmount = 2;
                _isDarkMode = await _mudThemeProvider.GetSystemDarkModeAsync();
                ToggleDarkMode(false);
                await LocalStorage.SetItemAsync("toggleAmount", _toggleAmount);
            }
            else
            {
                _toggleAmount = await LocalStorage.GetItemAsync<int>("toggleAmount");
                _isDarkMode = _toggleAmount switch
                {
                    0 => true,
                    1 => false,
                    2 => await _mudThemeProvider.GetSystemDarkModeAsync(),
                    _ => _isDarkMode
                };
                ToggleDarkMode(false);
            }
            StateHasChanged();
        }
        await LocalStorage.SetItemAsync("toggleAmount", _toggleAmount);
    }

    private Task OpenDialogAsync()
    {
        return DialogService.ShowAsync<LapsCalculator>("Laps Calculator", new DialogOptions());
    }
    
    private async void ToggleDarkMode(bool toggle)
    {
        if (toggle)
        {
            _toggleAmount++;
        }
        if (_toggleAmount >= 3)
        {
            _toggleAmount = 0;
        }
        
        switch (_toggleAmount)
        {
            case 0:
                selectedIcon = Icons.Material.Filled.LightMode;
                selectedTooltip = "Light Mode";
                break;
            case 1:
                selectedIcon = Icons.Material.Filled.AutoMode;
                selectedTooltip = "Auto Mode";
                break;
            case 2:
                selectedIcon = Icons.Material.Outlined.DarkMode;
                selectedTooltip = "Dark Mode";
                break;
        }

        _isDarkMode = _toggleAmount switch
        {
            0 => true,
            1 => false,
            2 => await _mudThemeProvider.GetSystemDarkModeAsync(),
            _ => _isDarkMode
        };
        
        StateHasChanged();
    }
}